.secondContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.importantNutrition {
  width: 60%;
  background-color: rgb(185 158 158 / 5%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0px;
}
.importantNutrition p {
  font-size: 1.6rem;
  text-align: justify;
  line-height: 1.5cm;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0px 50px;
  color: rgb(41, 83, 120);
  width: 70%;
  margin-top: 50px;
}
.secondTitle {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  color: rgb(44 53 50 / 83%);
  margin: 20px 0px;
  text-align: center;
}
.secondLine {
  width: 60%;
  height: 5px;
  background: #1000ff1c;
}
